<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="minecraft_server_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <minecraft_server_gui.Properties.Settings>
            <setting name="java_path" serializeAs="String">
                <value>c:\Program Files (x86)\Java\jre7\bin\java.exe</value>
            </setting>
            <setting name="macro_1_name" serializeAs="String">
                <value>Макрос 1</value>
            </setting>
            <setting name="macro_1_value" serializeAs="String">
                <value />
            </setting>
            <setting name="macro_2_value" serializeAs="String">
                <value />
            </setting>
            <setting name="macro_3_value" serializeAs="String">
                <value />
            </setting>
            <setting name="macro_4_value" serializeAs="String">
                <value />
            </setting>
            <setting name="macro_5_name" serializeAs="String">
                <value>Макрос 5</value>
            </setting>
            <setting name="macro_5_value" serializeAs="String">
                <value />
            </setting>
            <setting name="macro_6_name" serializeAs="String">
                <value>Макрос 6</value>
            </setting>
            <setting name="macro_6_value" serializeAs="String">
                <value />
            </setting>
            <setting name="macro_7_name" serializeAs="String">
                <value>Макрос 7</value>
            </setting>
            <setting name="macro_7_value" serializeAs="String">
                <value />
            </setting>
            <setting name="macro_8_name" serializeAs="String">
                <value>Макрос 8</value>
            </setting>
            <setting name="macro_8_value" serializeAs="String">
                <value />
            </setting>
            <setting name="macro_9_name" serializeAs="String">
                <value>Макрос 9</value>
            </setting>
            <setting name="macro_9_value" serializeAs="String">
                <value />
            </setting>
            <setting name="macro_10_name" serializeAs="String">
                <value>Макрос 10</value>
            </setting>
            <setting name="macro_10_value" serializeAs="String">
                <value />
            </setting>
            <setting name="macro_11_name" serializeAs="String">
                <value>Макрос 11</value>
            </setting>
            <setting name="macro_11_value" serializeAs="String">
                <value />
            </setting>
            <setting name="macro_12_name" serializeAs="String">
                <value>Макрос 12</value>
            </setting>
            <setting name="macro_12_value" serializeAs="String">
                <value />
            </setting>
            <setting name="macro_13_name" serializeAs="String">
                <value>Макрос 13</value>
            </setting>
            <setting name="macro_13_value" serializeAs="String">
                <value />
            </setting>
            <setting name="macro_14_name" serializeAs="String">
                <value>Макрос 14</value>
            </setting>
            <setting name="macro_14_value" serializeAs="String">
                <value />
            </setting>
            <setting name="macro_15_name" serializeAs="String">
                <value>Макрос 15</value>
            </setting>
            <setting name="macro_15_value" serializeAs="String">
                <value />
            </setting>
            <setting name="macro_2_name" serializeAs="String">
                <value>Макрос 2</value>
            </setting>
            <setting name="macro_3_name" serializeAs="String">
                <value>Макрос 3</value>
            </setting>
            <setting name="macro_4_name" serializeAs="String">
                <value>Макрос 4</value>
            </setting>
        </minecraft_server_gui.Properties.Settings>
    </userSettings>
</configuration>